page-show {
    .toolbar-background {
        background-color: black;
        
      }

      [text-color="my-custom-color"] {
        color: white;
    }
    .button{
        background-color: black;
    }
   
}
